{% extends "polls/ubase.html" %}

{% block title %}Evotche - Buy Tokens{% endblock title %}

{% block content %}
{% load extras %}
<div class="container">
  <h1 class="pt-2 my-text-purple">Buy voter tokens</h1>
  <div class="divider mb-4"></div>
  <div class="row">
    <div class="col-12 col-md-6 mx-auto">
      <div class="card card-body">
        {% if messages %}
          {% for message in messages %}
            {% if message.message == 'from tokens_view' %}
              <a href="{% url 'users:tokens_view' %}"><i class="fa fa-2x my-text-purple">&#xf060;</i></a>
            {% endif %}
          {% endfor %}
        {% else %}
          <a href="{% url 'polls:category_view' ballot.id %}"><i class="fa fa-2x my-text-purple">&#xf060;</i></a>
        {% endif %}
        <form class="pb-3" method="post">
        	{% csrf_token %}
          {% if cant_buy %}
            <div class="alert alert-danger text-center">
              {{ cant_buy }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% endif %}
          {% if conn_error %}
            <div class="alert alert-danger text-center">
              {{ conn_error }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% endif %}
          {% if not user.profile.phone %}
            <div class="form-group pt-2">
              <label><h4>Phone number:</h4><span class="text-danger">*</span></label>
             {{ form.phone|add_css:'class:form-control text-center, placeholder:+234XXXXXXXXXX' }}
             <small class="form-text text-danger">
                {{ form.phone.errors }}                
              </small>
            </div>
          {% endif %}
          	<div class="form-group">
              <label><h4>Quantity:<span class="text-danger">*</span></h4></label>
          	 {{ form.quantity|add_css:'class:form-control text-center, placeholder:quantity' }}
          	</div>
            <div class="card card-body">
              <h4 class="card-title">Delivery type:</h4>
            	<div class="form-group">
                <div class="list-inline">
                  <div class="list-inline-item">{{ form.email_delivery|add_css:'class:form-control text-center' }}</div>
                  <div class="list-inline-item">Email Delivery at additional ₦1.00/Token</div>
                </div>
            	</div>
            	<div class="form-group">
                <div class="list-inline">
                  <div class="list-inline-item">{{ form.text_delivery|add_css:'class:form-control text-center' }}</div>
                  <div class="list-inline-item">Text Delivery at additional ₦5.00/Token</div>
                </div>
            	</div>
            </div>
            <div class="text-center pt-4">
            	<button class="btn my-btn-purple col-6" type="submit">
                Place Order
              </button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>


{% endblock content %}