{% extends "polls/ubase.html" %}
{% block title %}Evotche - View Invoice{% endblock title %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'transactions/trxnInvoice.css' %}">

<section id="invoice" class="mb-5">
  <div class="container">
    <h1 class="pt-2 my-text-purple">View Invoice</h1>
    <div class="divider mb-4"></div>
    <div class="row">
      <div class="col-lg-8 ml-3">
        <a href="{% url 'trxns:invoice_list' %}"><i class="fa fa-2x my-text-purple">&#xf060;</i></a>
        <h5 class="float-sm-right">Invoice: {{ invoice.reference_code }}</h5>
        <div class="pl-3 py-2">
          <p>To: {{ fullname }}</p>
          <p>Phone: {{ user.profile.phone }}</p>
          {% if not_paid %}
            <p>Payment Status: <span class="badge badge-warning">Pending</span></p>
          {% else %}
            <p>Payment Status: <span class="badge badge-success">Successful</span></p>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="row mx-auto">
      <div class="col-12">
        {% if messages %}
          {% for message in messages %}
            <div class="alert {{ message.tags }} text-center">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </div>
          {% endfor %}
        {% endif %}
        <div class="card card-body">
          <table>
            <thead>
              <tr>
                <th>S/N</th>
                <th>Item</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>Subtotal</th>
              </tr>
            </thead>
            <tbody>
              {% for item in invoice.item_set.all %}
              <tr>
                <td data-label="S/N">{{ forloop.counter }}</td>
                <td data-label="Item">{{ item.item }}</td>
                <td data-label="Description">{{ item.description }}</td>
                <td data-label="Quantity">{{ item.quantity }} x ₦{{ item.unit_cost }}.00</td>
                <td data-label="Subtotal">₦{{ item.total }}.00</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <div class="row mt-3">
            <div class="col-lg-6 order-first"></div>
            <div class="col-lg-6 order-last">
              <div class="card card-body">
                <h5 class="card-title font-weight-bold">Invoice Summary</h5>
                <ul class="list-group">
                  <li class="list-group-item"><strong>Total</strong><span class="float-right">₦{{ total }}.00</span></li>
                </ul>
              </div>
              <div class="m-3">
                {% if not_paid %}
                <a class="btn btn-success float-right" href="{% url 'trxns:pay' invoice.reference_code %}">Proceed to pay</a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock content %}