{% extends "polls/ubase.html" %}


{% block content %}
{% load extras %}



<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 mx-auto py-5">
        <div class="card">
          <div class="card-body">
            <a href="{% url 'polls:choice_view' choice.category.id %}"><i class="fa fa-2x my-text-purple">&#xf060;</i></a>
            <h4 class="py-3">Add votes for <span class="my-text-purple">{{ choice.choice }}</span>:</h4>
            {% for form.error in form.non_field_errors %}
            <div class="alert alert-danger text-center" role="alert">
              {{ error }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </div>
            {% endfor %}
            <form method="post">
              {% csrf_token %}
              <div class="form-group">
                <label>Amount:</label>
                {{ form.number|add_css:'class:form-control' }}
                <small class="form-text text-danger">
                  {{ form.number.errors }}                
              </small>
              </div>
              <ul class="list-inline">
                <li class="list-inline-item">
                  <button class="btn my-btn-purple" name="submit">Add Votes</button>
                </li>
                <li class="list-inline-item">
                  <a class="btn btn-danger" href="{% url 'polls:choice_view' choice.category.id %}">Cancel</a>
                </li>
              </ul>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}