<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

{% load static %}
<link rel="stylesheet" href="{% static 'polls/bootstrap/css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'polls/font-awesome/css/font-awesome.css' %}">
<link rel="stylesheet" href="{% static 'polls/text_style.css' %}">
<link rel="icon" type="image/png" href="{% static 'polls/images/favicon.png' %}">

<title>
  {% block title %}{% endblock title %}
</title>

<nav class="navbar navbar-expand-lg navbar-dark my-bg-purple sticky-top">
  <a class="navbar-brand bg-faded pl-2" href="{% url 'polls:index' %}"><img src="{% static 'polls/images/logo.png' %}" height="45" alt="Site logo"></a>

  {% if user.is_authenticated and user.has_usable_password %}
    <button class="navbar-toggler" type="button"  id="menu-toggle"">
      <span class="navbar-toggler-icon"></span>
    </button>
  {% else %}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  {% endif %}
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav offset-md-8 offset-1 mr-auto">
    {% if user.is_authenticated and user.has_usable_password %}
    <!--
      <li class="nav-item">
        <a class="nav-link my-text-light" href="{% url 'polls:ballot' %}">Ballots</a>
      </li>
      <li class="nav-item">
        <a class="nav-link my-text-light" href="{% url 'users:tokens_view' %}">Tokens</a>
      </li>
      <li class="nav-item">
        <a class="nav-link my-text-light" href="{% url 'polls:results' %}">Results</a>
      </li>
      <li class="nav-item">
        <a class="nav-link my-text-light" href="{% url 'users:logout' %}">Log out</a>
      </li>
      !-->
    {% else %}
      <li class="nav-item">
        <a class="nav-link my-text-light" href="{% url 'polls:pricing' %}">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link my-text-light" href="{% url 'users:contact_us' %}">Support</a>
      </li>
      <li class="nav-item">
        <a class="nav-link my-text-light" href="{% url 'users:login' %}">Log in</a>
      </li>
      <li class="nav-item">
        <a id="signup" class="nav-link my-text-light btn-md" href="{% url 'users:signup' %}">Sign up</a>
      </li>
    {% endif %}
    </ul>
  </div>
</nav>


{% block content %}
{% endblock content %}

<section id="footer" class="my-bg-purple">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8 mx-auto text-center">
        <a href="https://twitter.com/bunyaminu_" target="_blank">
          <i class="fa fa-2x my-3 mx-1 my-text-light">&#xf099;</i>
        </a>
        <a href="https://facebook.com/evotche" target="_blank">
          <i class="fa fa-2x my-3 mx-1 my-text-light"> &#xf09a;</i>
        </a>
        <a href="https://github.com/bunya017" target="_blank">
          <i class="fa fa-2x my-3 mx-1 my-text-light"> &#xf09b;</i>
        </a>
      </div>
    </div>
    <div class="row p-2">
      <div class="mx-auto">
        <p class="my-text-light text-center"><a class="my-text-light" href="">About Us</a> | <a class="my-text-light" href="{% url 'polls:terms' %}">Terms of Service</a> | <a class="my-text-light" href="{% url 'polls:privacy' %}">Privacy Policy</a></p>
        <p class="my-text-light text-center">© 2018 <a class="my-text-light" href="{% url 'polls:index' %}">Evotche</a>.  All rights reserved.</p>
      </div>
    </div>
  </div>
</section>


<script src="{% static 'polls/bootstrap/js/jquery.js' %}"></script>
<script src="{% static 'polls/bootstrap/js/popper.js' %}"></script>
<script src="{% static 'polls/bootstrap/js/bootstrap.min.js' %}"></script>