{% extends "polls/base.html" %}

{% block title %}{{ ballot.ballot_name|title }}{% endblock title %}


{% block content %}
 
<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8 mx-auto my-5">
        <h2 class="font-3 text-dark py-3">{{ ballot.ballot_name|title }}</h2>
        <a class="badge badge-dark p-2" href="{% url 'polls:ballot' %}" role="button">Back</a>
        <a class="badge badge-dark p-2" href="{% url 'polls:add_new_caty' ballot.id %}" role="button">Add new category</a>
        <ul class="list-unstyled pt-3">
          <p class="lead font-2">Share URL: https://evotche.herokuapp.com{% url 'users:show_ballot_page' ballot.ballot_url %}</p>
          <a class="badge badge-dark p-2" role="button" href="{% url 'users:show_ballot_page' ballot.ballot_url %}">Show ballot page</a>
          {% for category in ballot.category_set.all %}
            <li class="p-1">
              <a class="lead font-1 text-dark" href="{% url 'polls:choice_view' category.id %}">{{ category.category_name|title }}</a>
            </li>
            <a class="badge badge-dark p-2 py-0" href="{% url 'polls:delete_caty' category.id %}" role="button">Delete</a>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>

  
{% endblock content %}
