{% extends "polls/ubase.html" %}

{% block title %}Evotche - {{ ballot.ballot_name|title }}{% endblock title %}


{% block content %}
 
<section>
  <div class="container-fluid">
      <h1 class="my-text-purple pt-2">{{ ballot.ballot_name|title }}</h1>
      <div class="divider mb-4"></div>
    <div class="row">
      <div class="col-lg-6 ml-3">
        <a href="{% url 'polls:ballot' %}"><i class="fa fa-2x my-text-purple">&#xf060;</i></a>
        <a class="my-text-purple float-right" href="{% url 'polls:add_new_caty' ballot.id %}"><h4><i class="fa">&#xf055;</i>New Category</h4></a>
        <ul class="list-inline text-right pt-2">
          <li class="list-inline-item">
            {% if ballot.is_paid is False and ballot.has_free_tokens is False %}
              <a class="px-1" href="{% url 'trxns:buy_tokens' ballot.ballot_url %}"><button class="btn btn-outline-success">Buy voter tokens</button></a>
            {% endif %}
          </li>
          <li class="list-inline-item">
            <a class="px-1" href="{% url 'users:show_ballot_page' ballot.ballot_url %}" target="_blank"><button class="btn btn-outline-dark">Preview</button></a>
          </li>
        </ul>
        <div class="p-0">
          <p>Opening: {{ ballot.open_date }}</p>
          <p>Closing: {{ ballot.close_date }}</p>
        </div>
      </div>
    </div>

    <div class="row">
      {% for category in ballot.category_set.all %}
      <div class="col-sm-6 col-xl-4 my-2">
        <div class="card">
          <div class="card-body">
            <div class="card-title">
              <a class="my-text-purple" href="{% url 'polls:choice_view' category.id %}">
                <h4 class="text-center">{{ category.category_name|upper }}</h4>
              </a>
            </div>
            <ul class="list-group list-group-flush">
            {% for choice in category.choice_set.all%}
              <li class="list-group-item">{{ choice.choice }}</li>
            {% endfor %}
            </ul>
            <div class="text-right pt-1">
              <a href="{% url 'polls:delete_caty' category.id %}" onclick="return confirm('Are you sure you want to delete this category?')">
                <i class="fa fa-2x text-danger">&#xf014;</i>
              </a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

  
{% endblock content %}
