{% extends "polls/base.html" %}

{% block title %}{{ category.category_name|title }}{% endblock title %}

{% block content %}

<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8 mx-auto py-5">
        <h2 class="font-3 py-3">{{ category.category_name|title }}</h2>
        <a class="badge badge-dark p-2" href="{% url 'polls:category_view' category.ballot_paper_id %}" role="button">Back</a>
        <a class="badge badge-dark p-2" href="{% url 'polls:add_new_choice' category.id %}" role="button">Add new choice</a>
        {% if category.choice_set.all %}
          <ul class="list-unstyled pt-4">
            {% for choice in category.choice_set.all %}
            <li>
              <a class="lead font-1 text-dark pr-3">{{ choice.choice|title }}</a>
            </li>
            <a class="badge badge-dark p-2" href="{% url 'polls:delete_choice' choice.id %}" role="button">Delete</a>
            {% endfor %}
          </ul>
        {% else %}
          <p>No choices available.</p>
        {% endif %}
      </div>
    </div>
  </div>
</section>


{% endblock content %}