{% extends "polls/base.html" %}

{% block title %}{{ category.category_name|title }}{% endblock title %}

{% block content %}

<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-lg-6 my-5 mx-auto">
        <a href="{% url 'polls:category_view' category.ballot_paper_id %}"><i class="fa fa-2x text-dark">&#xf060;</i></a>
        <a class="float-right text-dark" href="{% url 'polls:add_new_choice' category.id %}"><h3><i class="fa">&#xf055;</i> New Choice</h3></a>
        <div class="card border-dark mt-5">
          <div class="card-body">
            <div class="card-title">
              <h2 class="text-center">{{ category.category_name|upper }}</h2>
            </div>
            <ul class="list-group list-group-flush">
              {% for choice in category.choice_set.all %}
              <li class="list-group-item">
                {{ choice.choice|title }}
                <div class="float-right">
                  <a href="{% url 'polls:delete_choice' choice.id %}"><i class="fa text-danger">&#xf014;</i></a>
                </div>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock content %}