{% extends "polls/ubase.html" %}

{% block title %}Evotche - Are you sure?{% endblock title %}

{% block content %}
{% load extras %}


<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 mx-auto py-5">
        <div class="card">
          <div class="card-body">
            <a href="{% url 'polls:category_view' ballot.id %}"><i class="fa fa-2x my-text-purple">&#xf060;</i></a>
            <h4 class="py-3">Are you sure you want to delete the category: 
              <span class="text-danger">{{ category.category_name }}</span>?
            </h4>
              <h5>All of the following related items will be deleted:</h5>
              <ul>
                <span class="font-weight-bold">Candidates:</span>
                {% for choice in choices %}
                  <li class="pl-2">{{ choice.choice }}</li>
                {% endfor %}
              </ul>
            <form action="{% url 'polls:confirm_caty' category.id %}" method="post">
              {% csrf_token %}
              <ul class="list-inline">
                <li class="list-inline-item">
                  <input name="poster" value="Yes" type="hidden">
                  <input class="btn btn-danger" value="Yes, I'm sure" type="submit">
                </li>
                <li class="list-inline-item">
                  <a class="btn btn-success" href="{% url 'polls:category_view' ballot.id %}">Cancel</a>
                </li>
              </ul>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}