{% extends "polls/base.html" %}

{% block title %}{{ display_ballot.ballot_name }} Polls Page{% endblock title %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'polls/display_ballot.css' %}">

<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8 mx-auto">
        {% if error_message %}
          <div class="alert alert-danger text-center">
            {{ error_message }}
          </div>
        {% endif %}       
        <form action="{% url 'polls:vote' display_ballot.ballot_url %}" method="post" class="pb-4">
        {% csrf_token %}
          <h1 class="font-3 pt-3 text-center">{{ display_ballot.ballot_name }} Polls Page</h1>
          {% for cat in display_ballot.category_set.all %}
            <h2 class="font-1 pt-3">{{ cat|title }}</h2>
            {% for choice in cat.choice_set.all %}
            <div class="offset-1">
              <input class="font-2 lead" type="radio" name="{{ cat }}" id="{{ cat }}{{ forloop.counter }}" value="{{ choice.id }}" />
              <label class="font-2 lead" for="{{ cat }}{{ forloop.counter }}">{{ choice|title }}</label>
              <br>
            </div>
            {% endfor %}
          {% endfor %}
          <div class="mb-5 pt-5">
            <input class="btn btn-outline-dark" type="submit" value="Vote" />
            <p class="pb-4"></p>
          <div></div>
        </form>
      </div>
    </div>
  </div>
</section>


{% endblock content %}



