{% extends "polls/base.html" %}

{% block title %}Welcome to Evotche{% endblock title %}

{% block content %}
{% load static %}

<section id="introduction">
  <div class="container">
    <div class="row fill-viewport align-items-center"> 
      <div class="col-12 col-md-6">
        <h1 class="f">Welcome to Evotche</h1>
        <p class="d">Creating online poll campaigns just got easier.
         Stop killing trees and go green today </p>
        <a class="btn btn-dark" href="{% url 'users:signup' %}" role="button">Get Started</a>
      </div>
    </div>
  </div>
</section>

<section id="info-1">
  <div class="container">
    <div class="row mt-5">
      <div class="col-12 col-md-10">
        <h2><strong class="text-info">Your Personal Electronic Voting Machine.</strong> Get your poll campaigns up and running with a green process.</h2>
      </div>
    </div>
    <div class="row my-5">
      <div class="col-12 col-md-4 mx-auto text-center">
        <i class="fa fa-4x fa-clock-o mt-3 mx-4"></i>
        <h4 class="text-center text-info">Save Yourself A Lot of Time</h4>
        <p class="text-center pt-2">Simple user interface ensures a simplified polls campaign creation.</p>
      </div>
      <div class="col-12 col-md-4 mx-auto text-center">
        <i class="fa fa-4x fa-bullhorn mt-3"></i>
        <h4 class="text-center text-info">Reach More Audience</h4>
        <p class="text-center pt-2">Share your ballot box URL with anyone across the globe.</p>
      </div>
      <div class="col-12 col-md-4 mx-auto text-center">
        <i class="fa fa-4x fa-leaf mt-3 mx-4"></i>
        <h4 class="text-center text-info">Green Process</h4>
        <p class="text-center pt-2">Minimal association with paper, thus no trees are harmed during the entire process.</p>
      </div>
      <div class="col-12 col-md-4 mx-auto text-center">
        <i class="fa fa-4x fa-cogs mt-3 mx-4"></i>
        <h4 class="text-center text-info">Complete Control</h4>
        <p class="text-center pt-2">How many categories, how many choices, who gets to vote, it's all up to you.</p>
      </div>
      <div class="col-12 col-md-4 mx-auto text-center">
        <i class="fa fa-4x fa-bar-chart mt-3 mx-4"></i>
        <h4 class="text-center text-info">Results in Real-Time</h4>
        <p class="text-center pt-2">Don't break a sweat, get your polls campaign results in real-time. No Hassles</p>
      </div>
    </div>
  </div>
</section>

<section id="how-it-works" class="bg-light">
  <div class="container">
    <div class="row pt-5 align-items-center">
      <div class="col-12 col-md-8 mx-auto mt-5 text-center">
        <h1 class="text-uppercase">How it works</h1>
        <p class="lead pt-3">Our platform gives you complete control over your ballot creation process. How many categories, how many choices, who gets to vote, its all up to you. <br><strong>Less Paper Usage = More Trees = More Oxygen.</strong></p>
      </div>
    </div>
    <div class="row pb-5">
      <div class="col-12 col-md-4 mx-auto mt-5 text-center">
        <i class="fa fa-4x fa-plus my-3 mx-4"></i>
        <p class="bigg">Signup and Create a Ballot Box.</p>
      </div>
      <div class="col-12 col-md-4 mx-auto mt-5 text-center">
        <i class="fa fa-4x fa-share-alt my-3 mx-4"></i>
        <p class="bigg">Publish and Share Your Ballot Box URL with Friends.</p>
      </div>
      <div class="col-12 col-md-4 mx-auto mt-5 text-center">
        <i class="fa fa-4x fa-bar-chart my-3 mx-4"></i>
        <p class="bigg">Get Polls Results in Real-Time</p>
      </div>
    </div>
  </div>
</section>

<section id="footer">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8 mx-auto text-center mt-4 pt-4">
        <span>
          <img src="{% static 'polls/images/logo.png' %}" alt="Site Logo">
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-8 mx-auto text-center">
        <a href="https://twitter.com/bunyaminu_">
          <i class="fa fa-2x fa-twitter my-3 mx-2 text-dark"></i>
        </a>
        <a href="https://facebook.com/evotche">
          <i class="fa fa-2x fa-facebook my-3 mx-2 text-dark"></i>
        </a>
        <a href="https://twitter.com/bunyaminu_">
          <i class="fa fa-2x fa-instagram my-3 mx-2 text-dark"></i>
        </a>
        <a href="https://twitter.com/bunyaminu_">
          <i class="fa fa-2x fa-github my-3 mx-2 text-dark"></i>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-8 mx-auto text-center mb-5">
        <p class="pt-2 d">dollabills007@gmail.com <br>+2348112210423</p>
      </div>
    </div>
  </div>
</section>

<style type="text/css">
	.d {
		font-size: 1.3rem;
		font-weight: 500;
	}
	.f {
		font-weight: 600;
	}
  .bigg {
    font-size: 2rem;
    font-weight: 300;
  }

</style>


{% endblock content %}