{% extends "polls/base.html" %}

{% block title %}Welcome to Evotche{% endblock title %}

{% block content %}

<section id="introduction">
  <div class="container">
    <div class="row fill-viewport align-items-center"> 
      <div class="col-12 col-md-6">
        <h1 class="f">Welcome to Evotche</h1>
        <p class="d">Creating online poll campaigns just got easier.
         Stop killing trees and go green today </p>
        <a class="btn btn-dark" href="{% url 'users:signup' %}" role="button">Get Started</a>
      </div>
    </div>
  </div>
</section>

<section id="info-1">
  <div class="container fill-viewport">
    <div class="row pt-5">
      <div class="col-12 col-md-10 mt-5">
        <h2><strong class="text-info">Your Personal Electronic Voting Mache.</strong> uygkbajdnvhjbafk ukjfsbjkdf fkuhjdsbhjbfhjbv ufnjkbjfdk ffduhkhjfdjbhgf dfkjhjbfjbnjklsfd uiflhkjf dfijlkfdj hdfilndsf ifldugkfng ufdhlukdfg </h2>
        <h2><strong class="text-info">Your Personal Electronic Voting Mache.</strong> uygkbajdnvhjbafk ukjfsbjkdf fkuhjdsbhjbfhjbv ufnjkbjfdk ffduhkhjfdjbhgf dfkjhjbfjbnjklsfd uiflhkjf dfijlkfdj hdfilndsf ifldugkfng ufdhlukdfg </h2>
      </div>
    </div>    
  </div>
</section>

<section id="how-it-works" class="bg-dark">
  <div class="container">
    <div class="row pt-5 align-items-center">
      <div class="col-12 col-md-8 mx-auto mt-5 text-center">
        <h1 class="text-uppercase text-white">How it works</h1>
        <p class="lead pt-3 text-white">Our platform gives you complete control over your ballot creation process.How many categories, how many choices, who gets to vote, its all up to you. <br><strong>Less Paper Usage = More Trees = More Oxygen.</strong></p>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-12 col-md-4 mx-auto mt-5 text-center">
        <i class="fa fa-4x fa-plus my-3 mx-4 text-white"></i>
        <p class="bigg text-white">Signup and Create a Ballot Box.</p>
      </div>
      <div class="col-12 col-md-4 mx-auto mt-5 text-center">
        <i class="fa fa-4x fa-share my-3 mx-4 text-white"></i>
        <p class="bigg text-white">Publish and Share Your Ballot Box URL with Friends.</p>
      </div>
      <div class="col-12 col-md-4 mx-auto mt-5 text-center">
        <i class="fa fa-4x fa-bar-chart my-3 mx-4 text-white"></i>
        <p class="bigg text-white">Get Polls Results in Real-Time</p>
      </div>
    </div>
  </div>
</section>


<style type="text/css">
	.d {
		font-size: 1.3rem;
		font-weight: 500;
	}
	.f {
		font-weight: 600;
	}
  .bigg {
    font-size: 2rem;
    font-weight: 300;
  }

</style>


{% endblock content %}