{% extends "polls/ubase.html" %}

{% block title %}Evotche - New Category{% endblock title %}

{% block content %}
{% load extras %}
<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 mx-auto py-5 mb-3 mb-md0">
        <div class="card">
          <div class="card-body">
            <a href="{% url 'polls:category_view' ballot.id %}"><i class="fa fa-2x my-text-purple">&#xf060;</i></a>
            <h4 class="py-3">Create New Post:</h4>
            {% for error in form.non_field_errors %}
            <div class="alert alert-danger text-center" role="alert">
              {{ error }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </div>
            {% endfor %}
            <form action="{% url 'polls:add_new_caty' ballot.id %}" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              {{ chForms.management_form }}
              <div class="form-group">
                {{ form.ballot_paper }}
                <label>Post Title:</label>
                {{ form.category_name|add_css:'class:form-control, placeholder:Eg. President' }}
              </div>

              {% for c in chForms %}
              <div class="form-group offset-1">
                <label>Candidate {{ forloop.counter }}:</label>
                {{ c.choice|add_css:'class:form-control, placeholder:Name of candidate' }}
                {% if ballot.is_photo_ballot %}
                  <div class="pt-1 pb-3">
                    {{ c.photo.label_tag }}
                    {{ c.photo|add_css:'class:form-control' }}
                  </div>
                {% endif %}
              </div>
              {% endfor %}

              <button class="btn my-btn-purple" name="submit">Add New Post</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
