{% extends "polls/ubase.html" %}

{% block title %}New Ballot{% endblock title %}

{% block content %}
{% load extras %}
<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 mx-auto py-5">
      <div class="card">
        <div class="card-body">
          <a href="{% url 'polls:ballot' %}"><i class="fa fa-2x text-dark">&#xf060;</i></a>
          <h4 class="pt-4 my-text-purple">New Box:</h4>
          <form action="{% url 'polls:add_new_ballot' %}" method="post">
            {% if error_message %}
            <div class="alert alert-danger text-center">
              {{ error_message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </div>
            {% endif %} 
            {% csrf_token %}
            <div class="form-group">
              {{ form.ballot_name|add_css:'class:form-control, placeholder:Ballot Name' }}
              <div class="card card-body py-2 mt-2">
                Voting opens on:
                <div class="list-inline">
                  <div class="list-inline-item">Date: {{ form.start_date|add_css:'class:form-control' }}</div>
                  <div class="list-inline-item">Time: {{ form.start_time|add_css:'class:form-control' }}</div>
                </div>
              </div>
              <div class="card card-body py-2 mt-2">
                Voting closes on:
                <div class="list-inline">
                  <div class="list-inline-item">Date: {{ form.stop_date|add_css:'class:form-control' }}</div>
                  <div class="list-inline-item">Time: {{ form.stop_time|add_css:'class:form-control' }}</div>
                </div>
              </div>
            </div>
            <button class="btn btn-outline-dark" name="submit">Add box</button>
          </form>
        </div>
      </div>
      </div>
    </div>
  </div>
</section>




{% endblock content %}
