{% extends "polls/ubase.html" %}

{% block title %}Evotche - New Choice{% endblock title %}

{% block content %}
{% load extras %}

<!--Work tobe done on choice.photo view-->

<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 mx-auto py-5">
        <div class="card">
          <div class="card-body">
            <a href="{% url 'polls:choice_view' category.id %}"><i class="fa fa-2x text-dark">&#xf060;</i></a>
            <h4 class="pt-4 pb-2 my-text-purple">New Choice:</h4>
            {% for error in form.non_field_errors %}
            <div class="alert alert-danger text-center" role="alert">
              {{ error }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </div>
            {% endfor %}
            {% if error_message %}
              <div class="alert alert-danger text-center" role="alert">
                {{ error_message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </div>
            {% endif %}
            <form action="{% url 'polls:add_new_choice' category.id %}" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="form-group">
                {{ form.category }}
                {{ form.choice|add_css:'class:form-control, placeholder:Choice' }}
                <div class="pt-3">
                {% if category.ballot_paper.is_photo_ballot %}
                  {{ form.photo.label_tag }}
                  {{ form.photo|add_css:'class:form-control' }}
                {% endif %}
                </div>
              </div>
              <button class="btn btn-outline-dark" name="submit">Add Choice</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}

