{% extends "polls/base.html" %}

{% block title %}New Category{% endblock title %}

{% block content %}
{% load extras %}
<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 mx-auto py-5">
        <div class="card border-dark">
          <div class="card-body">
            <a href="{% url 'polls:category_view' ballot.id %}"><i class="fa fa-2x text-dark">&#xf060;</i></a>
            <h4 class="pt-4 pb-2">New Category:</h4>
            {% if form.errors %}
              {{ form.errors }}
            {% endif %}
            <form action="{% url 'polls:add_new_caty' ballot.id %}" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              {{ chForms.management_form }}
              <div class="form-group">
                {{ form.ballot_paper }}
                {{ form.category_name|add_css:'class:form-control, placeholder:Category Name' }}
              </div>

              {% for c in chForms %}
              <div class="form-group offset-1">
                {{ c.choice|add_css:'class:form-control, placeholder:Choice' }}
                {% if ballot.is_photo_ballot %}
                <div class="pt-1 pb-3">
                  {{ c.photo.label_tag }}
                  {{ c.photo|add_css:'class:form-control placeholder:Choice' }}
                </div>
                {% endif %}
              </div>
              {% endfor %}

              <button class="btn btn-outline-dark" name="submit">Add category</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
