{% extends "polls/base.html" %}

{% block title %}New Choice{% endblock title %}

{% block content %}
{% load extras %}
<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 mx-auto py-5">
        <a class="badge badge-dark p-2" href="{% url 'polls:choice_view' category.id %}"
         role="button">Back</a>
        <p class="font-3 pb-4 pt-1">Add a new choice:</p>
        <form action="{% url 'polls:add_new_choice' category.id %}" method="post">
          {% csrf_token %}
          <div class="form-group">
            {{ form.category }}
            {{ form.choice.label_tag }}
            {{ form.choice|add_css:'form-control' }}
          </div>
          <button class="badge badge-dark p-2" name="submit">Add Choice</button>
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock content %}

