{% extends "polls/base.html" %}

{% block title %}Evotche| Pricing{% endblock title %}

{% block content %}
{% load static %}
{% load extras %}

<section id="pricing">
  <div class="jumbotron jumbotron-fluid my-bg-purple">
    <div class="col-md-8 mx-auto text-center pb-3">
      <h2 class="my-text-light">PRICING</h2>
      <p class="lead my-text-light">Our pricing is based on the number of voter tokens you want. It is so flexible you only pay for what you need.</p>
    </div>
  </div>
  <div id="tokenForms" class="container">
    <div class="row">
      <div class="col-md-6 my-2">
        <div class="card card-body border-0 my-bg-light">
          <div class="row align-items-baseline py-3">
            <div class="col-6"><h1 class="ml-3 my-text-purple">Free</h1></div>
            <div class="col-6"><img align="right" height="80"" src="{% static 'polls/images/0.png' %}" alt="Basic"></div>
          </div>
          <ul class="list-group list-group-flush py-3">
            <li class="list-group-item py-2 my-bg-light border-0"><i class="fa text-success">&#xf058;</i> Upto <strong>30 Voter Tokens</strong></li>
            <li class="list-group-item py-2 my-bg-light"><i class="fa text-success">&#xf058;</i> No recycle of unused voter tokens</li>
            <li class="list-group-item py-2 my-bg-light"><i class="fa text-success">&#xf058;</i> Upto 3 free ballot boxes at a time</li>
            <li class="list-group-item py-2 my-bg-light"><i class="fa text-success">&#xf058;</i> Reports are kept for 7 days</li>
          </ul>
          <div class="ml-4">
            <a href="{% url 'users:signup' %}"><button class="btn my-bg-purple my-text-light"><h4>Sign up</h4></button></a>
          </div>
        </div>
      </div>
      <div class="col-md-6 my-2">
        <div class="card card-body border-0 my-bg-light">
          <div class="row align-items-baseline py-3">
            <div class="col-6"><h1 class="ml-3 my-text-purple">Pro</h1></div>
            <div class="col-6"><img align="right" height="80"" src="{% static 'polls/images/35.png' %}" alt="Basic"></div>
          </div>
          <ul class="list-group list-group-flush py-3">
            <li class="list-group-item py-2 my-bg-light border-0"><i class="fa text-success">&#xf058;</i> <strong>Unlimited</strong> voter token purchase</li>
            <li class="list-group-item py-2 my-bg-light"><i class="fa text-success">&#xf058;</i> Unused voter tokens can be recycled</li>
            <li class="list-group-item py-2 my-bg-light"><i class="fa text-success">&#xf058;</i> <strong>Unlimited</strong> Pro ballot boxes</li>
            <li class="list-group-item py-2 my-bg-light"><i class="fa text-success">&#xf058;</i> Reports are kept for 30 days</li>
          </ul>
          <div class="ml-4">
            <a href="{% url 'users:signup' %}"><button class="btn my-bg-purple my-text-light"><h4>Sign up</h4></button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock content %}