{% extends "polls/base.html" %}

{% block title %}Evotche - Pricing{% endblock title %}

{% block content %}
{% load static %}
{% load extras %}

<section id="pricing" class="fill-viewport">
  <div class="jumbotron jumbotron-fluid my-bg-purple py-5">
    <div class="col-md-8 mx-auto text-center pb-3">
      <h1 class="my-text-light display-4">PRICING</h1>
      <p class="lead my-text-light">Our pricing is based on the number of voters you want on your elections.</p>
    </div>
  </div>
  <div id="tokenForms" class="container">
    <div class="row">
      <div class="col-md-6 my-3">
        <div class="card card-body my-bg-light">
          <div class="row align-items-baseline py-3">
            <div class="col-4"><h3 class="my-text-purple">Free</h3></div>
            <div class="col-8 text-right"><h3>₦0.00<small>/voter</small></h3></div>
          </div>
          <ul class="list-group list-group-flush py-3">
            <li class="list-group-item py-2 my-bg-light">Maximum of 20 voters per election</li>
            <li class="list-group-item py-2 my-bg-light">Maximum of 2 free elections</li>
            <li class="list-group-item py-2 my-bg-light">Reach voters via email</li>
            <li class="list-group-item py-2 my-bg-light">Reports are kept for 30 days</li>
          </ul>
          <div class="ml-4">
            <a href="{% url 'users:signup' %}"><button class="btn my-bg-purple my-text-light"><h4>Sign up</h4></button></a>
          </div>
        </div>
      </div>
      <div class="col-md-6 my-2">
        <div class="card card-body my-bg-light">
          <div class="row align-items-baseline py-3">
            <div class="col-4"><h3 class="my-text-purple">Paid</h3></div>
            <div class="col-8 text-right"><h3>₦25.00<small>/voter</small></h3></div>
          </div>
          <ul class="list-group list-group-flush py-3">
            <li class="list-group-item py-2 my-bg-light">Unlimited voters per election</li>
            <li class="list-group-item py-2 my-bg-light">Unlimited paid elections</li>
            <li class="list-group-item py-2 my-bg-light">Reach voters via email</li>
            <li class="list-group-item py-2 my-bg-light">Reports are kept for 30 days</li>
          </ul>
          <div class="ml-4">
            <a href="{% url 'users:signup' %}"><button class="btn my-bg-purple my-text-light"><h4>Sign up</h4></button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock content %}