{% extends "polls/base.html" %}

{% block title %}Evotche - Simple, Quick and Secure Election Campaigns.{% endblock title %}

{% block content %}
{% load static %}

<section id="terms">
  <div class="jumbotron jumbotron-fluid" style="background-color: #824ca7;">
    <div class="col-md-8 mx-auto text-center pb-5">
      <h1 class="my-text-light py-5 py-md-3">Simple, Quick and Secure Election Campaigns.</h1>
      <a href="{% url 'users:signup' %}"><button class="btn btn-danger"><h2>Get Started ></h2></button></a>
    </div>
  </div>
</section>


{% endblock content %}