<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% load static %}

<link rel="stylesheet" href="{% static 'polls/bootstrap/css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'polls/font-awesome/css/font-awesome.css' %}">
<link rel="stylesheet" href="{% static 'polls/text_style.css' %}">
<link rel="stylesheet" href="{% static 'polls/ubase.css' %}">
{% block css %}
{% endblock css %}
<link rel="icon" type="image/png" href="{% static 'polls/images/favicon.png' %}">
  
<title>
  {% block title %}{% endblock title %}
</title>

<body>
  <nav id="nav" class="navbar navbar-dark my-bg-purple sticky-top">
    <a class="navbar-brand bg-faded pl-2" href="{% url 'polls:index' %}"><img src="{% static 'polls/images/logo.png' %}" height="45" alt="Site logo"></a>
      <button id="menu-toggle" class="navbar-toggler" type="button">
        <span class="navbar-toggler-icon"></span>
      </button>
  </nav>
  <div id="sidenav">
    <ul class="list-unstyled">
      <li id="ballot" class="category choice"><a href="{% url 'polls:ballot' %}" class="text-dark"><i class="fa pr-2">&#xf187;</i> Elections</a></li>
      <li id="invoice"><a href="{% url 'trxns:invoice_list' %}" class="text-dark"><i class="fa pr-2">&#xf0f6;</i> Invoices</a></li>
      <li id="token"><a href="{% url 'users:tokens_view' %}" class="text-dark"><i class="fa pr-2">&#xf084;</i> Tokens</a></li>
      <li id="result"><a href="{% url 'polls:results' %}" class="text-dark"><i class="fa pr-2">&#xf0cb;</i> Results</a></li>
      <li id="contact"><a href="{% url 'users:contact_us' %}" class="text-dark"><i class="fa pr-2">&#xf1cd;</i> Support</a></li>
      <li><a href="{% url 'users:logout' %}" class="text-dark"><i class="fa pr-2">&#xf011;</i> Logout</a></li>  
    </ul>
  </div>
  <div id="content">
    {% block content %}
    {% endblock content %}
  </div>

  <script src="{% static 'polls/bootstrap/js/jquery.js' %}"></script>
  <script src="{% static 'polls/bootstrap/js/popper.js' %}"></script>
  <script src="{% static 'polls/bootstrap/js/bootstrap.min.js' %}"></script>
  {% block script %}
  {% endblock script %}
  <script>
    var url = window.location;
    var sideNavItems = document.getElementById("sidenav").querySelectorAll("ul > li");
    for (i = 0; i < sideNavItems.length; i++) {
      if ((url.href.search(sideNavItems[i].id) > 0) || (url.href.search(sideNavItems[i].classList[0]) > 0)
        || (url.href.search(sideNavItems[i].classList[1]) > 0)) {
        sideNavItems[i].classList.add("active");
      }
    };
  </script>
  <script>
    $("#menu-toggle").click( function (e){
      e.preventDefault();
      $("#sidenav").toggleClass("toggled")
    });
  </script>


</body>