{% extends "polls/base.html" %}
{% block title %}Evotche - Success{% endblock title %}
{% block content %}
{% load extras %}

<section class="fill-viewport">
  <div class="container">
    <div class="row fill-viewport align-items-start">
      <div id="success" class="col-md-6 mx-auto mt-5 text-center">
        <h1 class="text-dark">Success!</h1>
        <p>Your vote has been submitted successfully.</p>
        <p class="pb-3">Thank you for using evotche.</p>
        <ul class="list-inline">
          <a class="my-text-purple list-inline-item" href="{% url 'polls:index' %}">Back to Home</a>
          <a class="my-text-purple list-inline-item" href="{% url 'users:contact_us' %}">Contact Support</a>
        </ul>
      </div>
    </div>
  </div>
</section>
{% endblock %}