.fill-viewport {
	min-height: calc(100vh - 75px)
}
#introduction {
	background: linear-gradient(rgba(255,255,255 ,1), rgba(0,0,0,.1)), url('images/bg.jpg') no-repeat center center;
	-webkit-background-size: cover;
 	-moz-background-size: cover;
 	-o-background-size: cover;
 	image-rendering: -webkit-optimize-contrast;
 	background-size: cover;
}
