.fill-viewport {
	min-height: calc(100vh - 75px)
}

#jumbo {
  background: linear-gradient(rgba(130, 76, 167 ,0.6),  rgba(0,0,0,0.1)), url('images/jumbo.jpg') 0% 0%/cover;
}

.my-text-purple {
  color: #824ca7 !important;
}

.my-text-light {
  color: #f4f3f4 !important;
}

.my-bg-purple {
  background-color: #824ca7 !important;
}

.my-bg-light {
  background-color: #f4f3f4 !important;
}

.my-btn-purple {
  color: #fff;
  background-color: #824ca7;
  border-color: #824ca7;
}

#tokenForms {
  position: relative;
  bottom: 90px;
  z-index: 500;
}

@media (min-width: 1080px) {
  #jumbo h1 {font-size: 3rem;}
}

@media (min-width: 1200px) {
  #jumbo h1 {font-size: 4rem;}
}