body {
  background-color: #f4f3f4;
}

#nav{
  min-height: 76px;
  background-color: #824ca7 !important;
  border-bottom: 1px solid #f4f3f4 !important;
}

#sidenav {
  z-index: 9999;
  position: fixed;
	width: 250px;
  height: calc(100vh - 76px);
  overflow-x: scroll;
  overflow-y: scroll;
  top: 0;
  left: 0;
  margin-top: 76px;
  background-color: #fff;
}

#sidenav a {
  text-indent: 20px;
  height: 55px;
  opacity: 0.4;
  display: flex;
  font-size: 16px;
  color: #343a40 !important;
  align-items: center;
  text-decoration: none;
  padding: 0 30px;
  cursor: pointer;
  font-weight: 400;
}

#sidenav a i {
  font-size: 20px;
}

#sidenav li a:hover {
  background: #f4f3f4;
  color: #824ca7 !important;
  opacity: 1;
}

#sidenav li.active a {
  color: #824ca7 !important;
  opacity: 1;
  background-color: #f4f5f4;
  border: 0.1rem solid #f2f2f2;
}

#content {
  padding-left: 250px;
  position: relative;
}

#menu-toggle.navbar-toggler {
  visibility: hidden;
}

#sidenav.toggled {
  width: 0;
}
#sidenav.toggled #content {
  padding-left: 0;
  position: relative;
}

@media (max-width: 992px){
  #sidenav{
    width: 0;
    height: 100vh;
    z-index: 1;
    position: fixed;
    margin-top: 76px;
    overflow: hidden;
  }
  #content {
    padding-left: 0;
    position: relative;
  }

  #sidenav.toggled {
    width: 250px;
    border-right: 3px solid #824ca7;
  }

  #sidenav.toggled #content {
    padding-left: 250px;
    position: relative;
  }

  #menu-toggle.navbar-toggler {
    visibility: visible;
  }

}