{% extends "polls/base.html" %}

{% block title %}Evotche - Privacy Policy{% endblock title %}

{% block content %}
{% load static %}

<section id="pp-intro">
  <div class="divider" 
    style="background: linear-gradient(rgb(130, 76, 167),  rgba(244, 243, 244, 0.3)) !important;
            height: 1px !important;">
  </div>
  <div class="jumbotron jumbotron-fluid" style="background-color: #824ca7;">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div>
            <h1 class="my-text-light py-4 font-weight-bold text-lg-center" 
              style="font-size: 7vw; line-height: 1em;">
              Evotche Privacy Policy
            </h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mx-auto">
          <p class="my-text-light">
            When you use Evotche, you trust us with your information. This Privacy 
            Policy is meant to help you understand what data we collect, why we 
            collect it, and what we do with it. Below we explain how we collect, use, and share information about you, along with the choices that you have with respect to that information.
          </p>
          <p class="my-text-light">
            This is important; we hope you will take time to read it carefully.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid py-3">
    <div class="row">
      <div class="mx-auto col-md-6">
        <p>
          Throughout this Privacy Policy we’ll refer to our website and other 
          products and services collectively as “Services”.
        </p>
        <p>
          Please note that this Privacy Policy does not apply to any of our products
          or services that have a separate privacy policy.
        </p>
        <p>
          If you have any questions about this Privacy Policy, please <a href="mailto:support@evotche.com" class="font-weight-bold">contact us</a>.
        </p>
      </div>
    </div>
  </div>
</section>

<section id="pp-1">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-8 mx-auto">
        <div>
          <h4 id="pp-sub" class="py-3 font-weight-bold">
            1. Information we collect
          </h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mx-auto">
        <p>
          We collect information to provide better services to all of our users -for
          example, to provide our Services, to communicate with you, or to make our 
          Services better.
          We collect information in the following ways:
        </p>
        <div id="info-u-provide">
          <h5 class="font-weight-bold pt-2">A-  Information You Provide to Us</h5>
          <p>
            <span class="font-weight-bold pt-2">
            a-  Basic Account Information:
            </span>
              We ask for basic information from you in 
              order to set up your account. For example, we require individuals who 
              sign up for an Evotche.com account to provide a username and email 
              address,and that’s it. You may provide us with more information–like 
              your name–but we don’t require that information to create your account.
          </p>
          <p>
            <span class="font-weight-bold pt-2">
              b-  Transaction and Billing Information:
            </span>
              If you buy something from us–a 
              pack of voter tokens, email and/or text delivery, for example–you will 
              provide additional personal and payment information that is required to 
              process the transaction and your payment, such as your name, credit card 
              information, and contact information.
          </p>
          <p>
            <span class="font-weight-bold pt-2">
              c-  Communications with Us:
            </span>
              You may also provide us information when you 
              respond to surveys or communicate with our Engineers about a support 
              question.
          </p>
        </div>
        <div id="info-we-collect-auto">
          <h5 class="font-weight-bold pt-2">B-  Information We Collect Automatically</h5>
          <p>
            <span class="font-weight-bold pt-2">
            a-  Log Information:
            </span>
            Like most online service providers, we collect information 
            that web browsers, mobile devices, and servers typically make available, 
            such as the browser type, IP address, unique device identifiers, language 
            preference, the date and time of access, operating system, and mobile network 
            information. We collect log information when you use our Services.
          </p>
          <p>
            <span class="font-weight-bold pt-2">
              b-  Cookies:
            </span>
            Cookies are files with small amount of data, which may include an 
            anonymous unique identifier. Cookies are sent to your browser from a web 
            site and stored on your computer's hard drive.
            Like many sites, we use "cookies" to collect information. You can instruct 
            your browser to refuse all cookies or to indicate when a cookie is being sent. 
            However, if you do not accept cookies, you may not be able to use some portions 
            of our site.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="pp-2">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-8 mx-auto">
        <div>
          <h4 id="pp-sub" class="py-3 font-weight-bold">
            2. How we use information we collect
          </h4>
          
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mx-auto">
        <p>
          We use information about you as mentioned above and as follows:
        </p>
        <p>
          <span class="font-weight-bold pt-2">a-</span>
          Providing and improving our Services: We use data to provide and improve the 
          Services we offer and perform essential business operations. This includes 
          operating the Services, maintaining and improving the performance of the 
          Services, developing new features, conducting research, and providing customer 
          support.
        </p>
        <p>
          <span class="font-weight-bold pt-2">b-</span>
          To monitor and analyze trends and better understand how users interact with our 
          Services, which helps us improve our Services and make them easier to use.
        </p>
        <p>
          <span class="font-weight-bold pt-2">c-</span>
          To monitor and protect the security of our Services, detect and prevent 
          fraudulent transactions and other illegal activities, fight spam, and protect 
          the rights and property of Evotche and others.
        </p>
        <p>
          <span class="font-weight-bold pt-2">d-</span>
          To communicate with you about offers and promotions offered by Evotche and 
          others we think will be of interest to you, solicit your feedback, or keep 
          you up to date on Evotche and our Services.
        </p>
      </div>
    </div>
  </div>
</section>

<section id="pp-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-8 mx-auto">
        <div>
          <h4 id="pp-sub" class="py-3 font-weight-bold">
            3. Information we share
          </h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mx-auto">
        <p>
          We do not sell our users’ private personal information.
          We share information about you in the limited circumstances spelled out below and with 
          appropriate safeguards on your privacy:
        </p>
        <p>
          <span class="font-weight-bold pt-2">a-  Third Party Vendors: </span>
          We may share information about you with third party vendors 
          who need to know information about you in order to provide their services to us. 
          This group includes vendors that help us provide our Services to you (like payment 
          providers that process your credit and debit card information) and those that help 
          us understand and enhance our Services (like analytics providers). We require 
          vendors to agree to privacy commitments in order to share information with them.
        </p>
        <p>
          <span class="font-weight-bold pt-2">b-  As Required by Law: </span>
          We may disclose information about you in response to a subpoena, 
          court order, or other governmental request.
        </p>
        <p>
          <span class="font-weight-bold pt-2">c-  To Protect Rights and Property: </span>
          We may disclose information about you when we 
          believe in good faith that disclosure is reasonably necessary to protect the property 
          or rights of Evotche, third parties, or the public at large. For example, if we have 
          a good faith belief that there is an imminent danger of death or serious physical 
          injury, we may disclose information related to the emergency without delay.
        </p>
        <p>
          <span class="font-weight-bold pt-2">d-  Business Transfers: </span>
          In connection with any merger, sale of company assets, or 
          acquisition of all or a portion of our business by another company, or in the unlikely 
          event that Evotche goes out of business or enters bankruptcy, user information would 
          likely be one of the assets that is transferred or acquired by a third party. If any 
          of these events were to happen, this Privacy Policy would continue to apply to your 
          information and the party receiving your information may continue to use your 
          information, but only consistent with this Privacy Policy.
        </p>
        <p>
          <span class="font-weight-bold pt-2">e-  With Your Consent: </span>
          We may share and disclose information with your consent or at your 
          direction.
        </p>
        <p>
          <span class="font-weight-bold pt-2">f-  Aggregated and De-Identified Information: </span>
          We may share information that has been 
          aggregated or reasonably de-identified, so that the information could not reasonably 
          be used to identify you. For instance, we may publish aggregate statistics about the 
          use of our Services.
        </p>
        <p>
          <span class="font-weight-bold pt-2"></span>
        </p>
        
      </div>
    </div>
  </div>
</section>

<section id="pp-4">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-8 mx-auto">
        <div>
          <h4 id="pp-sub" class="py-3 font-weight-bold">
            4. Security
          </h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mx-auto">
        <p>
          While no online service is 100% secure, we work very hard to protect information about you 
          against unauthorized access, use, alteration, or destruction, and take reasonable measures 
          to do so.
        </p>
      </div>
    </div>
  </div>
</section>

<section id="pp-5" class="mb-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-8 mx-auto">
        <div>
          <h4 id="pp-sub" class="py-3 font-weight-bold">
            5. Privacy Policy Changes
          </h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mx-auto">
        <p>
          Although most changes are likely to be minor, Evotche may change its Privacy Policy from 
          time to time. Evotche encourages visitors to frequently check this page for any changes 
          to it's Privacy Policy. If we make changes, we will notify you by revising the change log 
          below, and, in some cases, we may provide additional notice (such as adding a statement 
          to our homepage or  sending you a notification through e-mail or your dashboard). Your 
          continued use of the Services after any change in this Privacy Policy will constitute your 
          consent to such change.
        </p>
      </div>
    </div>
  </div>
</section>


{% endblock content %}