{% extends "polls/base.html" %}

{% block title %}Evotche - Log In{% endblock title %}

{% block content %}
{% load extras %}

<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-5 my-5 mx-auto" style="padding-bottom: 70px">
        <div class="card card-body mb-5">
          <div class="py-3">
            <h2 class="text-center">Log in</h2>
          </div>
          {% if form.errors %}
            <div class="alert alert-danger text-center">
              Your username and password did not match. Please try again.
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% endif %}
          {% if messages %}
            {% for message in messages %}
              <div class="alert {{ message.tags }} text-center">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </div>
            {% endfor %}
          {% endif %}
          <form method="post" class="py-2">
            {% csrf_token %}
            <div class="form-group py-2">
              {{ form.username.label_tag }}
              {{ form.username|add_css:'class:form-control' }}
            </div> 		
            <div class="form-group py-2">
              {{ form.password.label_tag }}
              {{ form.password|add_css:'class:form-control' }}
            </div>
            <div class="pb-3">
              <button type="submit" class="btn my-btn-purple col-12"> Log in</button>
              <input type="hidden" name="next" value="{% url 'polls:ballot' %}">
            </div>
          </form>
          <div class="text-center">
            <a class="my-text-purple" href="{% url 'users:password_reset' %}">Forgot your password?</a>
            <p>Don't have an account? <a class="my-text-purple" href="{% url 'users:signup' %}">Sign up</a></p>
          </div>
        <div>
      </div>
    </div>
  </div>
</section>


{% endblock content %}