{% extends "polls/base.html" %}
{% load extras %}
{% block title %}{{ ballot.ballot_name|title }} Tokens{% endblock title %}

{% block content %}

<section id="my_tokens">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-10 mx-auto py-5">
        {% if token_list %}
        <h2 class="py-3">{{ ballot.ballot_name|title }} Tokens</h2>
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>Used Tokens</th>
                <th>Unused Tokens</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                {% for token in token_list %}
                  {% if token.is_used is True %}
                    <td>{{ token.user.username }}</td>
                  {% else %}
                    <td>{{ token.user.username }}</td>
                  {% endif %}
                {% endfor %}
              </tr>
            </tbody>
          </table>
        {% else %}
          <p>No tokens available</p>
        {% endif %}
      </div>
    </div>
  </div>
</section>



{% endblock content %}