{% extends "polls/base.html" %}
{% load extras %}
{% block title %}{{ ballot.ballot_name|title }} Tokens{% endblock title %}

{% block content %}

<section id="my_tokens">
  <div class="container">
    <div class="row my-3">
      {% if token_list %}
      <div class="col-lg-6 mx-auto">
        <h2 class="text-center py-3">{{ ballot.ballot_name|title }} Pass Tokens</h2>
        <div class="card card-default card-body border-dark">
          <!--Nav Tabs-->
          <ul id="tabsToken" class="nav nav-tabs nav-justified">
            <li class="nav-item">
              <a class="nav-link text-dark active show" href="" data-target="#unusedToken" data-toggle="tab">Unused Tokens</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="" data-target="#usedToken" data-toggle="tab">Used Tokens</a>
            </li>
          </ul>
          <!--/tabs-->
          <div id="tabsTokenContent" class="tab-content">
            <div id="unusedToken" class="tab-pane active show">
              <div class="list-group border-dark">
                {% for token in unused_token %}
                <p class="list-group-item">{{ token.user.username }}</p>
                {% endfor %}
              </div>
            </div>
            <div id="usedToken" class="tab-pane">
              <div class="list-group">
                {% for utoken in used_token %}
                <p class="list-group-item">{{ utoken.user.username }}</p>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    {% else %}
      <div class="col-sm-6 col-lg-4 my-4">
        <h4 class="text-center">No Pass Tokens Available.</h4>
      </div>
    {% endif %}
    </div>
  </div>
</section>





{% endblock content %}