{% extends "polls/base.html" %}
{% load extras %}
{% block title %}{{ ballot.ballot_name|title }} Tokens{% endblock title %}

{% block content %}

<section id="my_tokens">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8 col-lg-6 mt-5 mx-auto text-center">
        <div class="card-columns">
          <div class="card border-dark mr-5" style="width: 12rem;">
            <div class="card-header">
              Unused Tokens
            </div>
            <ul class="list-group list-group-flush">
              {% for token in unused_token %}
                <li class="list-group-item">{{ token.user.username }}</li>
              {% endfor %}
            </ul>
          </div>
          <div class="card border-dark ml-sm-5" style="width: 12rem;">
            <div class="card-header">
              Used Tokens
            </div>
            <ul class="list-group list-group-flush">
              {% for utoken in used_token %}
                <li class="list-group-item">{{ utoken.user.username }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>





{% endblock content %}