{% extends "polls/base.html" %}

{% block title %}Forgot your password? | Evotche{% endblock title %}

{% block content %}
{% load extras %}

<div class="container">
  <div class="row">
    <div class="col-12 col-md-8 col-lg-6 mt-2 mx-auto">
      <div class="card card-body mb-5">
        <div class="py-3">
          <h2>Reset your password</h2>
          <p>Enter your email address and we will send you a link to reset your password.</p>
        </div>

        <form method="post">
          {% csrf_token %}
          <div class="form-group py-2">
            {{ form.email|add_css:'class:form-control, placeholder:Enter your email address' }}
          </div>
          <div class="mb-2">
            <button type="submit" class="btn btn-outline-success col-12">Send password reset email</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}