{% extends "polls/base.html" %}

{% block title %}Sign Up{% endblock title %}


{% block content %}
{% load extras %}
{% load static %}
<div class="container">
  <div class="row">
    <div class="col-12 col-md-8 col-lg-6 mx-auto mt-2">
      <div class="card card-body border-dark mb-5">
        <div class="text-center pb-3 pt-2">
          <h2>Create a new account</h2>
        </div>
        <form method="post" action="{% url 'users:signup' %}">
          {% csrf_token %}
          {{ form.errors }}
          <div class="form-group py-2">
            {{ form.username|add_css:'class:form-control, placeholder:Username' }}
          </div> 
          <div class="form-group py-2">
            {{ form.email|add_css:'class:form-control, placeholder:Enter a valid email address' }}
          </div> 
          <div class="form-group py-2">
            {{ form.password1|add_css:'class:form-control, placeholder:Password' }}
          </div> 
          <div class="form-group py-2">
            {{ form.password2|add_css:'class:form-control, placeholder:Re-enter password' }}
          </div> 
          <div class="mb-3 pb-3">
            <button type="submit" class="btn btn-outline-success col-12">Sign up</button>
            <input type="hidden" name="next" value="{% url 'polls:index' %}">
          </div>
        </form>
        <small class="text-center">Already have an account? <a href="{% url 'users:login' %}">Log in</a></small>
      </div>
    </div>
  </div>
</div>



{% endblock content %}