{% extends "polls/base.html" %}

{% block title %}Evotche - Voter Access{% endblock title %}

{% block content %}
{% load extras %}

<section id="token-login" class="fill-viewport">
  <div class="container">
    <div class="row">
      <div class="col-10 col-md-6 mt-2 mx-auto my-5">
        <div class="card card-body">
          <div class="text-center py-3">
          <h2>Enter a Voter Token</h2>
        </div>
          {% if messages %}
            {% for message in messages %}
              <div class="alert {{ message.tags }} text-center">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </div>
            {% endfor %}
          {% endif %}

          {% if does_not_exist %}
            <div class="alert alert-danger text-center">
              {{ does_not_exist }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </div>
          {% endif %}

          {% if closed %}
            <div class="alert alert-danger text-center">
              {{ closed }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </div>
          {% endif %}

          {% if not_open %}
            <div class="alert alert-danger text-center">
              {{ not_open }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </div>
          {% endif %}

          {% if token_is_used %}
            <div class="alert alert-danger text-center">{{ token_is_used }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </div>
          {% endif %}

          <form class="pb-5" method="post">
            {{ form.management_form }}
            {% csrf_token %}
            <div class="form-group py-3">
              {{ form.token|add_css:'class:form-control text-center, placeholder:Enter a Voter Token.' }}
            </div>
            <button class="btn my-btn-purple col-12" type="submit">Proceed to Vote</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>



{% endblock content %}