{% extends "polls/ubase.html" %}
{% block title %}Evotche - Update Profile{% endblock title %}
{% load extras %}
{% block content %}

<section>
  <div class="container">
  	<h1 class="pt-2 my-text-purple">Update Profile</h1>
    <div class="divider mb-4"></div>
    <div class="row">
      <div class="col-12 col-md-6 mx-auto">
      <div class="card">
        <div class="card-body">
          <form action="{% url 'users:update_profile' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
              <div class="form-group">
                <label>First Name <span class="text-danger">*</span></label>
                {{ form.first_name|add_css:'class:form-control, placeholder:Required' }}
              </div>
              <div class="form-group">
                <label>Last Name <span class="text-danger">*</span></label>
                {{ form.last_name|add_css:'class:form-control, placeholder:Required' }}
              </div>
              <div class="form-group">
                <label>Phone Number <span class="text-danger">*</span></label>
                {{ form.phone|add_css:'class:form-control, placeholder:Required' }}
              </div>
              <div class="form-group">
                <label>Organization</label>
                {{ form.organization|add_css:'class:form-control, placeholder:Optional' }}
              </div>
            </div>
            <button class="btn btn-outline-dark" name="submit">Update profile</button>
          </form>
        </div>
      </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}