{% extends "polls/base.html" %}

{% block title %}Evotche - Forgot your password?{% endblock title %}

{% block content %}
{% load extras %} 
<section class="fill-viewport">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-10 col-md-6 col-lg-5 my-5 mx-auto ">
        <div class="card card-body mb-5">
          <div class="py-3 text-center">
            <h2>Reset your password</h2>
            <p>Enter your email address and we will send you a link to reset your password.</p>
          </div>

          <form method="post">
            {% csrf_token %}
            <div class="form-group py-2">
              {{ form.email|add_css:'class:form-control, placeholder:Enter your email address' }}
            </div>
            <div class="my-3">
              <button type="submit" class="btn my-btn-purple col-12">Send password reset email</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}