{% extends "polls/base.html" %}

{% block title %}Evotche - Password Reset{% endblock title %}
{% block content %}
{% load extras %}


<section class="fill-viewport">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 mx-auto my-5">
        <div class="card card-body">
          {% if validlink %}
            <div class="py-3">
              <h2>Reset your password</h2>
            </div>
            <p>Please enter (and confirm) your new password.</p>
            <form action="" method="post">
              <div>
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
              </div>
                <div class="form-group py-2">
                  {{ form.new_password1.errors }}
                  {{ form.new_password1|add_css:'class:form-control, placeholder:Enter New Password' }}
                </div>
                <div class="form-group py-2">
                  {{ form.new_password2.errors }}
                  {{ form.new_password2|add_css:'class:form-control, placeholder:Re-enter New Password' }}
                </div>
                <div class="mb-3">
                  <input type="submit" value="Change my password" class="btn my-btn-purple col-12" />
                </div>
                </table>
            </form>
          {% else %}
            <div class="text-center text-danger"><i class="fa fa-3x">&#xf057;</i></div>
            <h2 class="text-center pb-5">Password reset failed</h2>
            <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>


    

{% endblock %}