{% extends "polls/base.html" %}

{% block content %}
{% load extras %}

{% block title %}Evotche - Password Reset{% endblock title %}

<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 mx-auto py-5">
        <div class="card card-body border-dark">
          <div class="py-3">
            <div class="text-center text-success"><i class="fa fa-3x">&#xf00c;</i></div>
            <h2 class="text-center">Password reset complete.</h2>
            <p>Your password has been changed successfully.</p>
            <a class="text-dark" href="{% url 'login' %}"><i class="fa fa-2x">&#xf090;</i> Log in</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}